<!DOCTYPE html>
<html>

    <head>

        <title>MemeTimes.com</title>

		<link rel="stylesheet" href="{{ url_for('static',filename='css/MemeNews_ss.css') }}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Alegreya|Alike|Aref+Ruqaa|Cinzel|Cinzel+Decorative|Cookie|Cormorant|El+Messiri|Forum|Gilda+Display|IM+Fell+Double+Pica|Julius+Sans+One|Norican|Noto+Serif+SC|Petit+Formal+Script|Rasa" rel="stylesheet">		<script src="{{url_for('static', filename='javascript/MemeNews.js')}}"></script>
    
    </head>
    
    <body>
		<div class="header">
			<table style="height:50px; width:100%; border-bottom:1px solid grey; "> 
				<tr class="info_today" style="background-color: white">
					<th class="textleft textbottom" style="width: 45%">
						{{ date }}
					</th>
					<th style="width: 10%">
						<a class="logo" href="/">
							<img src="{{ url_for('static',filename='images/logo.png') }}" alt="MemeNews Logo. Click to visit the homepage" height="50px" align="middle">
						</a>
					</th>
					<th class="textright textbottom" style="width: 45%">
						<a class="pop_up" href="Subscribe">
							Subscribe
						</a>
					</th>
				</tr>
			</table>
		</div>
			
		<div class="nav">
			<table style="width:100%; background-color:white; border-top: 2px solid white; border-bottom: 3px double black"> 
				<tr height='fixed'>
					<th class="textcenter">
						<a class="menu_bar hide sticky" href="/">
							<img src="{{ url_for('static',filename='images/logo_simple.png') }}" height="16px">
						</a>
					</th>
					<th class="textcenter"><a class="menu_bar" href="PastArticles">Past Articles</a></th>
					<th class="textcenter"><a class="menu_bar" href="TheWorldInMemes">The World in Memes</a></th>
					<th class="textcenter"><a class="menu_bar" href="MemeAnalysis">Meme Analysis</a></th>
					<th class="textcenter"><a class="menu_bar" href="AboutUs">About Us</a></th>
					<th class="textcenter"><a class="menu_bar" >Ask Reddit</a></th>
				</tr>
			</table>
		</div>
		
		<div class="content">
			<div class="">
				<p>Feedback form</p>
			
				<form action="">
					Feedback:
					<input type="text">
				</form>

		</div>
		<footer>
			<table style="width: 100%; border-top: 3px double black;">
				<tr> 
					<td style="left: 0; text-align: left; width: 50%">
						© 2018 The MemeTimes Company
					</td>
					<td style="text-align: right; width: 25%">
						<a href="TermsOfService">
						Terms of Service</a>
					</td>
					<td style="text-align: right; width: 15%">
						<a href="SiteMap">
						Site Map</a>
					</td>
					<td style="width:10%"></td>
				</tr>
			</table>
			<br>
		</footer>
    </body>
	
	
</html>